.text-main{
  color: var(--color-white);
  font-size: 1.875rem;
  max-width: 894px;
  margin-top: 2.5rem;
  width: 100%;

  span{
    color: var(--color-red);
  }
}
.title-digital{
  color: var(--color-red);
  font-family: 'Digital-Desolation-Plus', sans-serif;
  font-size: 2.5rem;

  strong{
    font-size: 3.75rem;
  }
}
.title-digital_alt{
  margin-top: 10rem;
}

.section-base{
  background-color: var(--color-black);
  padding: 7.5rem 3rem;
  position: relative;
}
.section-base_alt{
  padding-bottom: 11.5rem;
}

.figure-ryujin_lateral{
  max-width: 745px;
  margin: auto;
  margin-right: 0;
  position: relative;
  z-index: 1;
}
.ryujin_lateral-col{
  max-width: 768px;
}
.ryujin_lateral-bg{
  position: relative;
}

.bg-text-ryujin{
  background: center / contain url(./../images/text-ryujin.png) no-repeat;
  left: 5%;
  top: 5%;
  bottom: 0;
  position: absolute;
  max-width: 499px;
  width: 100%;
}

.bg-adornment-ryujin{
  background: center/contain url(./../images/adorno-ryujin.png) no-repeat;
  height: 318px;
  max-width: 330px;
  position: absolute;
  right: 0;
  top: 76vh;
  width: 100%;
}

:focus-visible {
  display: none;
}