@media screen and(min-width: 1600px){
  .views-scroll{
    justify-content: center;
  }
}

@media screen and(max-width: 800px){
  html, body{
    overflow-x: hidden;
    overflow-y: visible;
  }

  .section-base{
    padding: 3rem 1rem;
  }
  .navbar-k{
    height: 70px;
  }
  .figure-logo{
    width: 216px;
  }
  .banner-main{
    padding: 3rem 1rem;
  }
  .text-main{
    font-size: 1.2rem;
    text-align: center;
  }
  .banner-box{
    gap: 12px;
  }
  .banner-logo_movil{
    display: block;
  }
  .banner-logo_desktop{
    display: none;
  }

  .banner-box_alt{
    gap: 20px;
  }
  .btn-base{
    font-size: 20px;
  }
  .title-digital{
    font-size: 1.5rem;
    text-align: center;

    strong{
      font-size: 2rem;
    }
  }
  .banner-video{
    align-items: flex-start;
    aspect-ratio: auto;
    height: 100vh;
    padding: 2rem;

    .text-main{
      font-size: 1rem;
    }
  }
  .bg-video_desktop{
    display: none;
  }
  .bg-video_movil{
    display: block;
    height: 100%;
    object-fit: cover;
  }

  .banner-bg{
    align-items: flex-start;
    padding: 4rem 0;
    height: 800px;
  }
  .banner-bg_one{
    background: linear-gradient(to bottom, rgb(0, 0, 0) 54%, rgba(0, 0, 0, 0) 60%), url(./../images/bg-ryujin_movil.png);
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .banner-bg_two{
    background: linear-gradient(to bottom, rgb(0, 0, 0) 54%, rgba(0, 0, 0, 0) 60%), url(./../images/bg-ryujin2_movil.png);
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .banner-bg_three{
    background: linear-gradient(to bottom, rgb(0, 0, 0) 54%, rgba(0, 0, 0, 0) 60%), url(./../images/bg-ryujin3_movil.png);
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .bg-text-ryujin{
    background-position: -8% 90%;
    background-size: 60%;
    width: initial;
  }
  .bg-adornment-ryujin{
    bottom: 2%;
    height: 120px;
    max-width: 120px;
    top: initial;
    z-index: 1;
  }
  .title-digital_alt{
    margin-top: 0;
  }
  .ryujin_lateral-bg{
    padding: 3rem 1rem;
  }
  .nav-pills-k{
    gap: 12px;

    li{
      flex: 1;
    }
  }

  .views-scroll{
    gap: 10px;
  }
  .flex-tabs_figure{
    max-width: 260px;
  }
  .flex-tabs_figcaption{
    bottom: 1rem;
    height: 56px;
    font-size: 1.5rem;
    line-height: 28px;
  }

  .carousel-control-prev{
    left: 1rem;
  }
  .carousel-control-next{
    right: 1rem;
  }
  .carousel-control-next, .carousel-control-prev{
    width: 8%;
  }

  .bg-ryujin-blanco, .bg-ryujin-negro{
    padding: 1rem;
  }

  .option-pos{
    font-size: 12px;
    visibility: hidden;
  
    &:hover{
      visibility: hidden;
    }
    &::before{
      content: 'Intel I7';
      left: 0;
      visibility: hidden;
      visibility: visible;
    }
  }
  .option-pos_procesador{
    right: 55vw;
    top: -10px;
  
    &::before{
      content: 'Intel Core I5 12400';
    }
  }
  .option-pos_board{
    left: -2vw;
    top: 52px;
  
    &::before{
      content: 'b660n ds3h';
    }
  }
  .option-pos_video{
    left: -2vw;
    top: 96px;
  
    &::before{
      content: '1660 6gb gddr5';
    }
  }
  .option-pos_fuente{
    left: 22vw;
    top: 220px;
  
    &::before{
      content: '650w bronze';
    }
  }
  .option-pos_solida{
    right: 2vw;
    top: 220px;
  
    &::before{
      content: '2.5 960gb';
    }
  }
  .option-pos_gabinete{
    right: -6vw;
    top: 122px;
  
    &::before{
      content: 'td300 mesh';
      width: 52px;
    }
  }
  .option-pos_memoria{
    right: -12vw;
    top: 22px;
  
    &::before{
      content: '16gb (2x8gb)';
      width: 52px;
    }
  }
  .option-pos_memoria-alt{
    right: -12vw;
    top: 22px;
  
    &::before{
      content: '32gb (4x8gb)';
      width: 52px;
    }
  }

  .bg-views::before{
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
  .bg-views::after{
    background: linear-gradient(to left, rgb(0, 0, 0) , rgba(0, 0, 0, 0));
  }

  .footer{
    padding: 24px 1rem;
  }
  .footer-text{
    font-size: 1rem;
    padding: 0;
  }
  .footer-title{
    font-size: 2rem;
  }
  .footer-subtitle{
    font-size: 1rem;
  }
  .input-group-k{
    left: -1rem;
  }
  .form-control_button{
    max-width: 130px;
  }
  .btn-whatssapp{
    bottom: 20px;
    right: 20px;
  }
}

@media screen and(max-width: 400px){

  .btn-base{
    font-size: 1rem;
  }

}